# https://stackoverflow.com/questions/25423141/what-exactly-does-the-the-multiviews-options-in-htaccess
#<IfModule mod_negotiation.c>
#    Options -MultiViews
#</IfModule>

# redirect "/index.php?id=xxx" to "/index/xxx"
#RewriteCond %{THE_REQUEST} \s/index\.php\?page=([0-9]+)\s [NC]
#RewriteRule ^ /section/%1? [R=301,L]

# internally rewrite "/section/xxx" to "/section.php?id=xxx"
#RewriteRule ^index/([0-9]+)$ /index.php?page=$1 [L]

#RewriteBase /

# only if file not exists
#RewriteCond %{REQUEST_FILENAME} !-f

# only, if directory not exists
#RewriteCond %{REQUEST_FILENAME} !-d

# rewrite all urls
#RewriteRule (.*)/$ index.php?&page=$1

#RewriteRule ^/([^/]+)$ /index.php?id=$1 [L]

#Reduce Server HTTP Header to the minimum product (Apache) rather than showing detailed version information of the server and operating system
#ServerTokens Prod

#Remove the footer from error pages, which details the version numbers:
#ServerSignature Off

<IfModule mod_headers.c>
    RequestHeader unset X-Powered-By
    Header unset X-Powered-By
    RequestHeader unset Server
    Header unset Server

    Header always unset "X-Powered-By"
    Header always unset "Server"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    #http://foobarblog.net/blog/seo-suchmaschinenfreundliche-urls-durch-rewriten-in-der-htaccess-datei-21/
    RewriteCond %{QUERY_STRING} ^(.*)$

    #https://haensel.pro/php/mit-htaccess-und-php-einfach-friendly-urls-nutzen
    RewriteRule ^(.*)$ index.php?page=$1&%1 [L]
</IfModule>