Options -Indexes

# BEGIN Disable access to all files EXCEPT
Order deny,allow
Deny from all

<FilesMatch "thirdparty/*$">
    Allow from all
</FilesMatch>

<FilesMatch "^thirdparty_.*">
    Allow from all
</FilesMatch>