Options -Indexes

Order Allow,Deny
deny from all

<FilesMatch "\.(js|css|png)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

<Files "thirdparty">
    Options +Indexes

    Order Allow,Deny
    Allow from all
</Files>